.polaroid {
    width: 25%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

.container {
    text-align: center;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}

img{
    width: 100%;
    height: auto;
}

.concert-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.concert-actions{
    margin-top: 20px;
}

