{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/artists/artist-index.css' %}" />
{% endblock %} 
{% block content %}

<section class="page-header">
  <a href="{% url 'artist-create' %}">Add an Artist</a>
</section>
  
<section class="card-container">
  <h1>Your Favorite Artists</h1>
  {% for artist in artist_list %}
  <a href="{% url 'artist-detail' artist.id %}">
    <div class="card-content">
      <p class="artist-name">{{ artist.name }} • <span class="genre">{{ artist.genre }}</span></p>

    </div>
  </a>
  {% endfor %}
</section>



{% endblock %}