{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/concerts/concert-index.css' %}" />
{% endblock %}

{% block content %}
<section class="page-header">
    <a href="{% url 'concert-create' %}">Add a Concert</a>
    <a href="{% url 'artist-create' %}">Add an Artist</a>
</section>

<section class="card-container">
    {% for concert in concerts %}
    <div class="card">
        <a href="/concerts/{{concert.id}}">
            <div class="card-content">
                <h2 class="card-title">{{concert.artist_name}}</h2>
                    <p>{{ concert.date }} at {{ concert.venue }}</p>
                    <p>{{ concert.location }}</p>
                    <p>Seat: {{concert.seat}}</p>
            </div>
        </a>
    </div>
    {% endfor %}
</section>

<section class="artist-container">
    <div class="artist-blurb">
        <h3>Your Top 5 Artists</h3>
        <p>Do the top five tracks from your fave artists make <em>your</em> top five?</p>
    </div>
    <div class="artist-card">
        {% for artist in artists %}
            {% if artist.top_five == True %}
            <h3>{{artist.name}}</h3>
            <ol>
                {% for song in artist.top_songs %}
                <li>{{ song }}</li>
                {% endfor %}
            </ol>
            {% endif %}
        {% endfor %}
    </div>
</section>

{% endblock %}